.env
.flaskenv
.vscode
.python-version
tmp
venv
notes.txt
*.rdb
*.db
*.DS_STORE
app/static/public.pem

__pycache__
__pycache__/
*.py[cod]
.pytest_cacher/

*.so

pip-wheel-metadata
.Python
env/
bin/
develop-eggs/
dist/
eggs/
lib/
lib64/
sdist/
var/
*.eggs-info/
.installed.cfg
.*egg

pip-log.txt
